@import "ReusableStyles.scss";

/* Summary table */
.summary-table-wrapper {
    & #summaryHeader {
        @include table-header-styles;

        & h1 {
            grid-template-columns: $summary-column-width;
        }
    }

    & #summaryTableBody {
        @include table-body-styles;

        & .table-row {
            grid-template-columns: $summary-column-width;
            @include category-icon-styles;

            &.active {
                background-color: $blue-color;
            }

            & .active-notes-qty,
            .archived-notes-qty {
                cursor: pointer;
                position: relative;
                width: auto;
                opacity: 1;

                &.disabled {
                    pointer-events: none;
                    opacity: 0.5;
                }
                &:hover {
                    color: #3d3d3f;
                    font-size: 1.1rem;
                    font-weight: 700;
                }
            }
        }
    }
}
